{% load static %}
<!doctype html>

<html>
    <head>
        <title>
            {% block title %}
                Wine Diaries
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />

        {% block header %}
        <table class="one">
            <tr class="top menu">
                <td class="one_first"><a href="/"><img src="{% static 'images/Logo.PNG' %}"/><a/></td>
                <td class="one_second">
                    {% if user.is_authenticated %}
                        <p class="greeting">Hello, {{ user.username }}!</p>
                        <p><a href="{% url 'logout' %}" class="button">Logout</a></p>
                        <p><a href="{% url 'new_wine' %}" class="button">New<a/></p>
                        <p><a href="{% url 'search' %}" class="button">Filter</a></p>
                    {% else %}
                        <p><a href="{% url 'login' %}" class="button">Login</a></p>
                    {% endif %}
                </td>
            </tr>
        </table>
        <br/>
        {% endblock header %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>