{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <title>
            {% block title %}
                My Wine App
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        {% block header %}
            <h1><a href="/">Wine Diaries<a/></h1>
            <p><a href="{% url 'new_wine' %}">New<a/></p>
        {% endblock header %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}

        {% block footer %}
        {% endblock footer %}
    </body>
</html>