{% extends 'base.html' %}

{% block content %}
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Filter</button>
    </form>
    {% for wine in filter.qs %}
        <h2>{{ wine.name }}</h2>
        {% if wine.image %}
            <img src="{{ MEDIA_URL }}{{ wine.image.url }}" height="300"/>
        {% endif %}
        {% if wine.image_2 %}
            <img src="{{ MEDIA_URL }}{{ wine.image_2.url }}" height="300"/>
        {% endif %}
        {% if wine.rating %}
            <p>Rating: {{ wine.rating }}</p>
        {% endif %}
        <p>Variety: {{ wine.variety }}</p>
        <p>Vintage: {{ wine.vintage }}</p>
        {% if wine.rating %}
            <p>Region: {{ wine.region }}</p>
        {% endif %}
        {% if wine.comments %}
            <p>Comments: {{ wine.comments }}</p>
        {% endif %}
        {% if wine.shop %}
            <p>Shop: {{ wine.shop }}</p>
        {% endif %}
        {% if wine.price %}
            <p>Price: £{{ wine.price }}</p>
        {% endif %}
    {% endfor %}
{% endblock %}